<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Sự kiện - Hoạt động</li>
        </ol>
    </div>
</div>
<div class="about">
    <div class="container">
    	<div class="blog-grid">
    		<div class="blog-grid1">
    			<a href="/showblog"><img class="img-responsive img-blog" src="/images/unnamed.jpg"></a>
    			<div class="blog-grid1-info">
    				<div class="soluta">
    					<a href="/showblog">Công ty tham gia hội chợ tại Thái Lan</a>
    					<span>Ngày đăng bài</span>
    				</div>
    				<div class="red-mre">
    					<a ui-sref="showblog">Đọc thêm</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>