<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Sự kiện - Hoạt động</li>
        </ol>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="blog-grid">
        <article class="clearfix">
        	<header>
        		<h1 class="post-title">
        			<a href="">Công ty tham gia hội chợ tại Thái Lan</a>
        		</h1>
        		<div class="post-meta">
        			<span class="date">Ngày đăng: 20/10/2017</span>
        		</div>
        		<div class="post-thumb">
        			<a href="" class="pretty-photo">
        				<img class="img-responsive img-blog" src="/images/unnamed.jpg">
        			</a>
        		</div>
        	</header>
        	<br>
        	<p>Gnissimos voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. atque corrupti quos dolores et quas molestias excepturi sint occaecat officia deserunt mollitia laborum et dolorum fuga</p>
        	<div class="row">
        	<div class="col-md-6"><img class="img-responsive" style="height: 400px;" src="/images/IMG_0424.JPG"></div>
        	<div class="col-md-6"><img class="img-responsive" style="height: 400px;" src="/images/IMG_0428.JPG"></div>
        	</div>
        	
        </article>
        </div>
    </div>
</div>